alembic
apispec
blinker
et-xmlfile
flask
Flask-Cors
Flask-Migrate
flask-smorest
flask-sqlalchemy
gunicorn
marshmallow
marshmallow-sqlalchemy
numpy
openpyxl
pandas
pre-commit
psycopg2-binary
python-dotenv
requests
sqlalchemy
webargs
